/*========================= Fonts shits =========================  */
/* Regular */
@font-face {
  font-family: 'Modius';
  src: url('../../../assets/fonts/modius-regular.woff2') format('woff2'),
       url('../../../assets/fonts/modius-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Modius';
  src: url('../../../assets/fonts/modius-bold.woff2') format('woff2'),
       url('../../../assets/fonts/modius-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Modius';
  src: url('/TheCodeCrafters/assets/fonts/modius-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Modius';
  src: url('/TheCodeCrafters/assets/fonts/modius-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*========================= Reset css shits =========================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: var(--graphite-black);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}
button {
  background: none;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  line-height: 1.2;
}
p {
  line-height: 1.6;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/*========================= Variables shits =========================*/
:root{
    /* color pallette */
    --royal-blue:  #1F4FB2;
    --graphite-black: #1A1A1A;
    --silver-gray: #C8C8C8;
    --electric-cyan: #2CE6FF;

}

.panel{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

     background-color: var(--silver-gray);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-inline: clamp(1rem, 4vw, 2rem);
    border: 1px solid #000;
     height: 100vh;
}

